<nav>
    <a href="/schedule">Schedule</a>
    <a href="/students-info">Student Info</a>
    <a href="/attendance">Attendance</a>
    <a href="/time-table">Time Tables</a>
    <a href="/calendar">Calendar</a>
</nav>