<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('components/header') %> <%- include('components/nav') %>
    <main>
      <section class="form">
        <img src="./resources/profile.png" alt="profile">
        <h1>Login</h1>
      <% if (typeof message !== 'undefined') { %>
      <p style="color: red"><%= message %></p>
      <% } %>
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Login</button>
        <p>Forgot Username / Password?</p>
        <p>Create a Account</p>
      </form>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
