<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('components/header') %> <%- include('components/nav') %>

    <main>
      <section class="schedule">
        <h1>Today’s Schedule</h1>
        <h2 class="date">10 June 2024</h2>
        <div class="classes">
          <div class="class">
            <h5>OOP WITH JAVA</h5>
            <h6>10:30-11:20</h6>
            <h6>B3 - 412</h6>
          </div>
          <div class="class">
            <h5>OOP WITH JAVA</h5>
            <h6>10:30-11:20</h6>
            <h6>B3 - 412</h6>
          </div>
          <div class="class">
            <h5>OOP WITH JAVA</h5>
            <h6>10:30-11:20</h6>
            <h6>B3 - 412</h6>
          </div>
          <div class="class">
            <h5>OOP WITH JAVA</h5>
            <h6>10:30-11:20</h6>
            <h6>B3 - 412</h6>
          </div>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
