@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --color-dark: #0D062D;
    --color-semi-dark: #787486;
    --color-light: #FFFFFF;
    --color-semi-light: #F5F5F5;
    --color-theme-light: #E5FBE5;
    --color-theme-dark: #68B266;
    --color-error-dark: #FF4D4D;
    --color-error-light: #FFDDDD;
    --color-loading-mid: #FFFDD4;
    --font-family: 'Inter', sans-serif;
    --font-weight-regular: 100;
    --font-weight-bold: 700;
}
h1, h2,h3,h4,h5,h6,p{
    margin: 0;
}
body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    background-color: var(--color-light);
    color: var(--color-dark);
    margin: 0;
        display: grid;
        grid-template-columns: 1fr 4fr;
        /* grid-template-rows: repeat(3, 1fr); */
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}

header{
    padding: 10px 2%;
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header, footer{
    grid-column: span 2;
}
header h3{
    margin: 0;
    font-size: 32px;
    font-weight: 100;
}
header .info{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}
a{
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--color-semi-light);
    color: var(--color-semi-dark);
    text-decoration: none;
}

nav{
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: var(--color-semi-dark) solid 2px;
    min-height: 100vh;
}

main{
    padding: 50px 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.form{
    border-radius: 20px;
    max-width: 500px;
    padding: 25px;
    background-color: var(--color-semi-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form img{
    width: 40%;
}
.form form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.form label{
    font-size: 18px;
    color: var(--color-semi-dark);
}
.form input{
    font-family: var(--font-family);
    padding: 10px 20px;
    border-radius: 2px;
    background-color: var(--color-semi-dark);
    border: none;
    color: var(--color-semi-light);
}
.form button{
    padding: 8px 16px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
    color: var(--color-theme-dark);
    background-color: var(--color-light);
    border: var(--color-semi-dark) solid 1px;
}
.form p{
    font-size: 12px;
    margin: 0;
    opacity: .8;
    text-align: center;
    text-decoration: underline;
}

.title{

}
.title h1{
    font-size: 64px;
    color: var(--color-theme-dark);
}
.title h5{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 15px;
    text-transform: capitalize;
}


.schedule{
    width: 100%;
}
h1{
    font-weight: 100;
    font-size: 32px;
}
h2{
    font-weight: 100;
    font-size: 16px;
}
.schedule .class{
    background-color: var(--color-theme-light);
    color: var(--color-theme-dark);
    min-width: 100px;
}
.class-2{
    width: 200px;
}
.classes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 5px;
}
.class {
    /* background-color: var(--color-theme-light);
    color: var(--color-theme-dark); */
    border-radius: 5px;
    padding: 10px 15px;
}

.active{
    background-color: var(--color-theme-light);
    color: var(--color-theme-dark);
}
.inactive{
    background-color: var(--color-semi-light);
    color: var(--color-semi-dark);
}

.class h5{
    font-size: 16px;
}
.class h6{
    font-size: 12px;
}
.students-info .class{
    display: flex;
    gap: 5px;
    align-items: center;
}
.data{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70vw;
}
.info p:nth-child(1), .head p:nth-child(1) {
    width: 5%;
}
.info p:nth-child(2), .head p:nth-child(2) {
    width: 15%;
}
.info p:nth-child(3), .head p:nth-child(3) {
    width: 40%;
}
.head p, .info p {
    width: 10%;
}

.head{
    font-weight: bold;
    padding: 8px 10px;
    background-color: var(--color-theme-light);
    border-radius: 3px;
}
.info{
    padding: 5px 10px;
    border-radius: 3px;
}
.head, .info{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.data .info{
    background-color: var(--color-semi-light);

}

footer{
    text-align: center;
    background-color: var(--color-dark);
    color: var(--color-semi-dark);
    padding: 40px 10px;
}

.access-denied h1{
    text-transform: uppercase;
    font-size: 64px;
    color: var(--color-error-dark);
}
.access-denied p{
    margin-bottom: 15px;
}